.ant-checkbox .ant-checkbox-inner {
  box-sizing: border-box;
  display: block;
  width: 16px;
  height: 16px;
  direction: ltr;
  background-color: #ffffff;
  border: 1px solid var(--color-purple) !important;
  border-radius: 0px !important;
  border-collapse: separate;
  transition: all 0.3s;
}
.ant-checkbox .ant-checkbox-inner:after {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  inset-inline-start: 25%;
  display: table;
  width: 5.7142857142857135px;
  height: 9.142857142857;
  border: 2px solid var(--color-purple) !important;
  border-inline-start: 0;
  transform: rotate(45deg) scale(0) translate(-50%, -50%);
  opacity: 0;
  content: "";
  transition:
    all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),
    opacity 0.1s;
}
.ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
  border-color: var(--color-purple) !important;
  background-color: #ffffff;
  border: 1px solid var(--color-purple) !important;
}
.ant-checkbox:not(.ant-checkbox-disabled) .ant-checkbox-inner {
  border-color: var(--color-purple) !important;
}
.ant-form input[type="checkbox"]:focus {
  outline: 0;
  box-shadow: unset !important;
}
