@import "../theme.css";
.page-limit-select .ant-select-selector {
  height: 30px !important;
  background-color: var(--color-background);
}

.active-status-color .ant-select-selector {
  background-color: #ddf8eb !important;
  border: none !important;
  border-radius: 4px !important;
  padding: 0 10px !important;
}

.inactive-status-color .ant-select-selector {
  background-color: #f3f3f3 !important;
  border: none !important;
  border-radius: 4px !important;
  padding: 0 10px !important;
}

.filter-drawer-content .ant-form-item-label {
  color: #111928 !important;
  font-weight: 500;
}

.filter-drawer-content .ant-select-selector {
  border-radius: 4px !important;
}
:where(.css-dev-only-do-not-override-36gkoj).ant-select-single,
:where(.css-dev-only-do-not-override-36gkoj).ant-input {
  font-size: 14px;
  height: 40px;
  color: #70757e;
  background-color: var(--color-surface);
}

.input-suffix-icon .ant-input {
  height: 38px !important;
}

:where(.css-dev-only-do-not-override-36gkoj).ant-select
  .ant-select-selection-item {
  color: #70757e;
}
.ant-radio-button-wrapper {
  height: 40px;
}

.custom-collapse-master
  :where(.css-dev-only-do-not-override-36gkoj).ant-collapse-ghost
  > .ant-collapse-item {
  border-radius: 12px;
  border-bottom: 1px solid #d9d9d9;
}

.custom-collapse-master
  :where(.css-dev-only-do-not-override-36gkoj).ant-collapse
  .ant-collapse-content
  > .ant-collapse-content-box {
  padding: 10px 25px 10px 60px;
}
.search-filter .ant-input-affix-wrapper {
  /* background: var(--color-surface); */
  padding: 0px 10px;
}
.search-filter .ant-form-item {
  margin-bottom: 0px !important;
}

.add-form .ant-form-item-label label {
  color: #70757e !important;
  font-weight: 500 !important;
}
.ant-picker-large {
  background-color: var(--color-surface);
}

.pagination-button .ant-btn-color-default {
  border: 1px solid #4d4d4d !important;
  color: #212121 !important;
  background-color: var(--color-background) !important;
  padding: 9px !important;
  height: 35px;
  display: flex;
  align-items: center;
}
.pagination-button .ant-btn-variant-outlined:disabled {
  border: 1px solid #e9e9e9 !important;
  color: #909090 !important;
  background-color: var(--color-background) !important;
  padding: 9px !important;
  height: 35px;
  display: flex;
  align-items: center;
}

.page-limit-select .ant-select {
  display: flex;
  align-items: center;
}
.page-limit-select .ant-select-selection-item,
.page-limit-select .ant-select-arrow {
  color: #212121;
}

.active-status-color .ant-select-selection-item,
.active-status-color .ant-select-arrow {
  color: #02533f !important;
}

.inactive-status-color .ant-select-selection-item,
.inactive-status-color .ant-select-arrow {
  color: #909090 !important;
}
.countrycode-width .ant-select .ant-select-selector {
  width: 80px !important;
  border: 1px solid var(--color-gray-300) !important;
}

.edit-user-modal .ant-form-item {
  margin-bottom: 15px !important;
}
.input-label-disable .ant-form-item-row .ant-form-item-label {
  display: none !important;
}

.filter-drawer-content .ant-form-item {
  margin-bottom: 15px !important;
}
.filter-drawer-content .ant-picker-large .ant-picker-input > input {
  font-size: 15px !important;
}
.filter-drawer .ant-drawer-body {
  padding: 0px !important;
}
.filter-drawer .ant-btn-color-default {
  background-color: var(--color-background) !important;
  color: #4d4d4d !important;
}
.filter-drawer-content .ant-select-selection-item {
  color: #282f3d !important;
  font-weight: 500 !important;
}
.add-edit-card .ant-form-item {
  margin-bottom: 0px !important;
  width: 100% !important;
}
.add-edit-card .ant-btn-variant-solid:disabled {
  background-color: var(--color-primary-theme) !important;
  border-color: var(--color-primary-theme) !important;
}
.add-edit-card .ant-btn-primary {
  color: var(--color-background) !important;
  padding: 19px 15px !important;
}
.add-edit-card .ant-btn {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.add-edit-card .ant-form-item-control .ant-input {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.delete-confirm-button {
  background-color: #843333 !important;
  color: var(--color-background) !important;
}

.role-permission-collapse
  :where(.css-dev-only-do-not-override-36gkoj).ant-collapse {
  border: none !important;
  background: none !important;
}

.permission-given-for-collapse .ant-collapse-header .ant-collapse-extra,
.minus-child-menu-icon {
  padding: 0px 4px;
  background: #80808096;
  border-radius: 2px;
  color: white;
}

.filter-button {
  border: 1px solid var(--color-gray-300) !important;
  background-color: var(--color-surface) !important;
  color: #4d4d4d !important;
  height: 38px !important;
}
.config-system .ant-input-affix-wrapper {
  padding: 1px 11px !important;
  background-color: var(--color-surface) !important;
}
.config-system .ant-input-group-addon {
  background-color: var(--color-background) !important;
  color: #70757e !important;
}

.config-tabs .ant-tabs-tab-btn {
  display: flex !important;
}

.config-tabs .ant-tabs-tab-icon {
  margin-inline-end: 5px !important;
}

.config-tabs .ant-tabs-tab {
  padding: 12px 20px 12px 18px !important;
  color: #888c93 !important;
  font-weight: 500 !important;
}

.config-tabs .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--color-primary-theme) !important;
  font-size: 15px !important;
  font-weight: 500 !important;
}

.role-table-detail
  :where(.css-dev-only-do-not-override-36gkoj).ant-table-wrapper {
  border: none !important;
}

.config-tabs .ant-tabs .ant-tabs-ink-bar {
  background: var(--color-primary-theme) !important ;
}
.tab-radio-button .ant-radio-button-wrapper {
  background-color: #f6f6f6 !important;
  border: none !important;
  color: #6b7280;
  font-weight: 500;
  font-size: 14px;
  border-radius: 8px !important;
}

.tab-radio-button .ant-radio-button-wrapper:not(:first-child)::before {
  display: none !important;
}

.tab-radio-button .ant-radio-button-wrapper-checked {
  background-color: #ffffff !important;
  color: #111928 !important;
  font-weight: 600 !important;
  border: 1px solid #c6ccd4 !important;
  border-radius: 8px !important;
}

.tab-radio-button .ant-radio-group {
  display: flex;
  border-radius: 8px;
}
.tab-radio-button .ant-radio-group-solid {
  background-color: #f6f6f6 !important;
}

.ant-input-lg {
  padding: 15px !important;
  font-size: 14px !important;
  line-height: 1.8 !important;
  font-weight: 500;
  opacity: 1;
  letter-spacing: 0.05rem !important;
  height: 44px !important;
  border-radius: 4px !important;
}

.ant-input-affix-wrapper .ant-input-prefix {
  margin-inline-end: -5px !important;
}
.ant-select-single.ant-select-lg {
  height: 44px !important;
}
.ant-select .ant-select-arrow {
  font-size: 14px !important;
  color: #000000 !important;
}

.ant-input,
.ant-input-affix-wrapper,
.ant-input-textarea {
  color: var(--color-text-black) !important;
}

/* Placeholder color for Input and TextArea */
.ant-input::placeholder,
.ant-input-textarea::placeholder {
  color: var(--color-text-black) !important;
}

.ant-select-single.ant-select-lg:not(.ant-select-customize-input)
  .ant-select-selector {
  padding: 20px 17px 17px !important;
}

.ant-drawer .ant-drawer-header-title {
  display: flex;
  flex-direction: row-reverse;
}

.ant-drawer .ant-drawer-title {
  flex: 1;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}
.ant-drawer .ant-drawer-close {
  font-size: 18px;
}

.ant-steps .ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon {
  color: var(--color-primary-theme) !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}
.ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: unset !important;
  border-color: var(--color-primary-theme) !important;
}
.ant-steps
  .ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  color: var(--color-primary-theme) !important;
  font-weight: 500;
}

.ant-steps {
  display: block !important;
}

.ant-steps
  .ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-tail::after,
.ant-steps
  .ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  width: calc(100% - 190px);
  height: calc(var(--ant-line-width) * 3);
  margin-inline-start: var(--ant-margin-sm);
  background: #dddddd;
}

.ant-steps-item {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: visible;
  padding-bottom: 0;
}

.ant-steps-item-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 100%;
}

.ant-steps-item-icon {
  position: relative;
  z-index: 2;
  margin-bottom: 8px;
  width: 24px;
  height: 24px;
  background: #fff;
  border: 2px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-steps-item-title {
  position: relative;
  padding-top: 0;
  text-align: left;
  white-space: nowrap;
  font-size: 14px;
  color: #000;
  margin-top: 4px;
}

/* .ant-steps-item::after {
  content: '';
  position: absolute;
  top: 11px;
  left: 24px;
  width: calc(100% - 24px);
  height: 2px;
  background: #000;
  z-index: 1;
  display: none;
} */

.ant-steps .ant-steps-item-title::after {
  position: absolute;
  top: -20px;
  inset-inline-start: 100%;
  display: block;
  width: 9999px;
  height: 2px;
  background: #dddddd;
  content: "";
  left: 40px;
  width: 40%;
}

.ant-steps
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: #dddddd;
  height: 1px;
}

.ant-steps .ant-steps-item-title {
  font-weight: 500;
}

.ant-steps-item-finish .ant-steps-item-icon .anticon {
  font-size: 18px;
}

.ant-steps-item-finish .ant-steps-item-tail {
  background-color: #1890ff;
}

.ant-steps .ant-steps-item-wait .ant-steps-item-icon {
  background-color: unset !important;
  border-color: var(--color-light) !important;
}
.ant-select-selector {
  cursor: pointer !important;
}
.ant-steps:not(.ant-steps-vertical)
  .ant-steps-item-custom
  .ant-steps-item-icon {
  width: 32px !important;
  height: 32px !important;
  color: var(--color-primary-theme) !important;
}

.ant-steps
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  color: var(--color-primary-theme) !important;
}

.ant-steps
  .ant-steps-item-custom
  > .ant-steps-item-container
  > .ant-steps-item-icon {
  height: auto;
  background-color: #fff;
  border: 1px solid var(--color-primary-theme) !important;
}
.ant-picker-large {
  background-color: #ffffff;
  height: 44px !important;
}
.ant-picker.ant-picker-input > input {
  box-sizing: border-box;
  margin: 0;
  padding: 4px 11px;
  font-weight: 500;
  color: #333333 !important;
  align-items: center;
  border-radius: 4px !important;
}
.ant-picker-large .ant-picker-input > input {
  font-size: 14px !important;
  color: #333333 !important;
  font-weight: 500 !important;
}
.ant-input {
  padding: 1rem;
  font-weight: 500;
  border-radius: 4px !important;
}
.anticon {
  vertical-align: 0 !important;
}
.ant-select-dropdown {
  text-transform: capitalize;
}
.custom-ant-select .ant-select-selector {
  height: 38px !important; /* default small is ~32px, increase slightly */
}
.ant-drawer .ant-drawer-header-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-ant-select .ant-select-arrow {
  padding-top: 5px;
}
.ant-drawer .ant-drawer-close {
  font-size: 18px;
}
.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(
    .ant-pagination-size-changer
  ):hover
  .ant-select-selector {
  border-color: #5635b3 !important;
}
.ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-expand-icon {
  height: 25px;
  display: flex;
  align-items: end;
  padding-inline-end: 12px;
}
.ant-collapse .ant-collapse-content {
  border-top: unset !important;
}
.ant-collapse .ant-collapse-content > .ant-collapse-content-box {
  padding: 0px 0px;
}
.ant-collapse {
  border: unset;
}
.ant-select-borderless .ant-select-selector {
  border: unset !important;
}
.ant-btn-variant-solid:disabled,
.ant-btn-variant-solid.ant-btn-disabled {
  color: #fff !important;
  background: var(--color-extralight) !important;
}

.ant-dropdown .ant-dropdown-menu {
  /* width: 150px; */
  min-width: fit-content;
}
.onboard-custom-dropdown .ant-dropdown-menu {
  width: 500px !important;
  overflow-x: hidden; /* 👈 removes horizontal scroll */
}
.ant-select .ant-select-clear {
  top: 45%;
  inset-inline-end: 10px !important;
  width: 15px;
  height: 15px;
  font-size: 14px !important;
}
.ant-table-tbody > tr > td.email-column {
  text-transform: lowercase;
}
.person-vv {
  filter: brightness(0) saturate(100%) invert(27%) sepia(77%) saturate(1827%)
    hue-rotate(205deg) brightness(87%) contrast(113%);
}

.eye-black {
  filter: brightness(0) saturate(100%) invert(15%) sepia(38%) saturate(1%)
    hue-rotate(329deg) brightness(101%) contrast(88%);
}

.ant-picker-outlined.ant-picker-status-error:not(.ant-picker-disabled) {
  border-color: #b3251e;
}
.ant-picker-outlined.ant-picker-status-error:not(.ant-picker-disabled)
  .ant-picker-suffix {
  color: #b3251e;
}
.close-white {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7470%)
    hue-rotate(143deg) brightness(97%) contrast(91%);
}
.link-aml {
  color: #475569;
  text-decoration: underline;
}
.ant-progress .ant-progress-bg {
  position: relative;
  background: #0957d0 !important;
  border-radius: 100px;
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.icon-busi-white {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7470%)
    hue-rotate(143deg) brightness(97%) contrast(91%);
}
.ant-drawer .ant-drawer-header {
  font-size: 20px !important;
  line-height: 20px !important;
  font-weight: 600 !important;
  color: #333333 !important; /* Tailwind gray-700 */
}
.ant-drawer .ant-drawer-close {
  display: inline-flex;
  width: 50px;
  height: 24px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-inline-end: 0 !important;
  color: rgba(0, 0, 0, 0.45);
  font-weight: 600;
  font-size: 16px;
  font-style: normal;
  line-height: 1;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  transition: all 0.2s;
  text-rendering: auto;
  /* border:1px solid red; */
  /* padding: 19px; */
}

.ant-drawer .ant-drawer-close:hover {
  background: transparent !important;
  /* border: 1px solid red; */
}

/* .ant-drawer {
  z-index: 20000 !important;
} */
