.input-suffix-icon .ant-input {
  height: 38px !important;
}
.ant-select-single,
.ant-input {
  font-size: 14px !important;
  height: 44px !important;
  color: var(--color-black) !important;
  border-color: var(--color-primary-black-13) !important;
  box-shadow: none !important;
  border-radius: 8px !important;
  box-shadow: none !important;
  font-weight: 500 !important;
}
.ant-input:focus {
  border-color: var(
    --color-purple
  ) !important; /* remove default blue border on focus */
  box-shadow: none !important; /* remove focus glow */
  /* background-color: #ffff !important; */
}
.ant-input-affix-wrapper > input.ant-input:focus {
  box-shadow: none !important;
  border-color: var(--color-purple) !important;
}
.ant-input-outlined:focus,
.ant-input-outlined:hover,
.ant-input-outlined:focus-within {
  border-color: var(
    --color-purple
  ) !important; /* remove default blue border on focus */
  box-shadow: unset !important;
}

.ant-input::placeholder {
  color: var(--color-primary-black-12); /* placeholder color */
  font-size: 14px !important; /* font size */
  font-weight: 400 !important; /* optional */
  opacity: 1 !important; /* ensure visibility */
}
.ant-input:placeholder-shown {
  color: var(--color-primary-black-12) !important;
  font-weight: 400 !important;
}
.ant-form-item {
  margin: unset !important;
}
.ant-form-item .ant-form-item-explain-error {
  color: var(--color-rejected);
  font-size: 14px;
}
.ant-form-item .ant-form-item-additional {
  margin-top: 0.5rem;
}

.ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
  border: 1px solid var(--color-rejected) !important;
}
.ant-input-outlined.ant-input-status-error.ant-input-disabled {
  border: 1px solid var(--color-rejected) !important;
}
.ant-form-item .ant-form-item-label > label {
  height: 32px;
  color: var(--color-primary-grey-5);
  font-size: 14px;
}
.ant-form-item-vertical .ant-form-item-label {
  padding: 0 0 4px;
  margin: 0;
  white-space: initial;
  text-align: start;
}
.ant-input[disabled] {
  color: #767575 !important; /* text color */
  -webkit-text-fill-color: #767575; /* Safari fix */
  cursor: default !important;
}

.ant-input-affix-wrapper-lg {
  padding: 0 0 0 1rem !important;
  font-size: 14px;
  border-radius: 4px;
  height: 48px !important;
  border-color: var(--color-primary-black-13) !important;
}
.input-suffix-icon .ant-input-affix-wrapper-lg {
  padding: 0px 10px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  font-size: 14px !important;
}
.ant-input-affix-wrapper {
  padding: 0 1rem !important;
  height: 44px;
}
.ant-input-outlined.ant-input-status-error:not(.ant-input-disabled)
  .ant-input-suffix {
  color: var(--color-rejected);
}
.ant-upload-wrapper .ant-upload-drag .ant-upload-btn:focus-visible {
  outline: unset !important;
}
.ant-upload-wrapper .ant-upload-drag:not(.ant-upload-disabled):hover {
  border-color: var(--color-purple) !important;
}
.ant-input-outlined.ant-input-disabled,
.ant-input-outlined[disabled] {
  color: rgba(0, 0, 0, 0.25);
  border-color: #d9d9d9;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 1;
}
.ant-input-outlined.ant-input-disabled,
.ant-input-outlined[disabled] {
  color: rgba(31, 31, 31, 0.25);
  background-color: rgba(31, 31, 31, 0.04) !important;
  border-color: #d9d9d9;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 1;
}
.ant-picker .ant-picker-input > input:placeholder-shown {
  text-overflow: ellipsis;
  font-weight: 400 !important;
  color: #757575 !important;
}
.ant-upload-wrapper .ant-upload-drag .ant-upload {
  padding: 12px;
}
.ant-form input[type="radio"]:focus,
:where(.css-dev-only-do-not-override-a3ox4h).ant-form
  input[type="checkbox"]:focus {
  outline: 0;
  box-shadow: unset !important;
}

.ant-radio-wrapper:hover,
.ant-radio-inner {
  border-color: var(--color-purple) !important;
}
.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  border-color: var(--color-purple) !important;
  background-color: var(--color-purple) !important;
}
