@import "tailwindcss";

/* Figma Typography Scale */
.h1 {
  @apply text-[27px] font-semibold leading-[34px];
}
.h2 {
  @apply text-2xl font-semibold leading-[31px];
}
.h3 {
  @apply text-[22px] leading-[29px];
}
.h4 {
  @apply text-[20px] leading-[27px];
}
.h5 {
  @apply text-[18px] leading-[25px];
}
.h6 {
  @apply text-base leading-[23px];
}
.h7 {
  @apply text-sm leading-[21px];
}
.h8 {
  @apply text-xs leading-[19px];
}

.body-text {
  @apply text-base font-normal;
}
