@import "./theme.css";

.ant-tag {
  font-size: 14px;
  color: var(--color-gray-400);
  padding: 0.25rem 0.5rem;
}
.ant-tag .anticon-close {
  font-size: 12px;
  margin-left: 6px;
  color: var(--color-gray-800);
}

.tag-text {
  color: var(--color-gray-800);
}
